<link rel="stylesheet" href="/css/usuario.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="home">
    
    <div class="container p-4">
        <h1>Sistema de gestión de estaciones de carga de vehículos eléctricos</h1>
    </div>
    <div class="logo_inicio">
        <img src="/images/fi1.jpg" width="40%" height="30%" >
    </div>
</div>

