<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="login-box">
        <form action="/Home" method="post">
            <p>Ingrese las credenciales de administrador</p>
            <label for="lab_nombre_usuario">Username</label>
            <input type="text" name ="cred_admin" placeholder="Ingrese su nombre de usuario">
            <label for="lab_contrasena">Password</label>
            <input type="password" name="contr_admin" placeholder="Ingrese su contraseña">
            <input name="ingresar" type="submit" value="Ingresar">
        </form>
    </div>
</body>

</html>