
<link rel="stylesheet" type="text/css" href="css/main.css">
<script src="/js/main.js" charset="utf-8"></script>

<div class="agregarestacion" >

    <div >
        <p>Elija un método para agregar la tarjeta</p>
        <div>Aqui va el metodo manual</div>
        <div>Aqui va el metodo automatico</div>
    </div>
</div>