
/* menu de administrador */
.info-admin{
	height: 100px;
	width: 100%;
	font-family: serif;
	border: 2px solid rgb(140, 140, 151); 
	background: #e8e8e8
} 

.menu-admin{
	margin-top: 10px;
	height: 50px;
	width: 100%;
	font-family: serif;
	border: 2px solid rgb(140, 140, 151); 
	background: #092327
} 

.menu-admin .div-nav{
    float: left;
    margin-right: 100px;
}


ul, ol{
	list-style: none;
}

.nav li a{
	padding: 10px 15px;
	background-color: var(--col-fon-menu);
	color: #fff; 
	font-size: 18px;
	text-decoration: none;
	display: block;
} 

.nav li a:hover{
	background-color: #ef8354;
} 

.nav > li {
	float: left;
}

.nav li ul{
	display: none;
	position: absolute;
	width: 180px;
}

.nav li:hover> ul{
	display: block; 
}

.nav li ul li{
	position: relative;
    background-color: #434343;
}

.nav li img{
	margin-top: 10px;
}


