
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> 
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>

<body>
    <div class="menu-admin">
       <div class="div-nav" >
            <ul class="nav">
                <li> <a href="/Home" name="Inicio">Inicio</a> </li>
                <li> <a href="/home/estaciones/informacion" name="Estaciones">Estaciones</a> </li>
                <li> <a href="/home/tarjetas/informacion" name="Tarjetas">Tarjetas</a> </li>
                <li> <a href="/home/transacciones/informacion">Transacciones</a></li>
                <li> <a href="/logout"> Cerrar sesión </a> </li>
            </ul>
       </div>
    </div>
</body>

</html>